!!! 5
html
  head
    link(rel="stylesheet", href="/application.css")
  body
    #white-board
    #side-bar
      #chat
        ul#chat-list
        input#new-chat-message(type="text" placeholder="new message")
      #new-note-wrap
        svg#new-note
          g.note
            rect(fill="#60f" width="100" height="100")
            text.text
        textarea#new-note-text.editor
        button#paste Paste
    script(src="/socket.io/socket.io.js")
    script(src="/application.js")
