
#white-board
  position relative
  float left
  width 488px
  height 488px
  border 1px #888 solid
  padding 5px

#side-bar
  position relative
  float left
  width 198px
  height 500px
  margin-left 5px

#chat
  position absolute
  width 196px
  height 340px
  overflow-y scroll
  top 0
  left 0
  border 1px #888 solid

#new-note
  position absolute
  bottom 30px
  left 44px
  width 100px
  height 100px

#new-note-text
  bottom 30px
  left 44px

#paste
  position absolute
  height 25px
  bottom 0
  left 44px
  width 100px

.note
  .text
    font-size 16px

.editor
  position absolute
  width 88px
  height 88px
  background-color transparent
  outline none !important
  border none
  font-size 16px
  padding 5px 5px
  resize none
